polars
pandas
numpy
playwright
patchright
scrapling
selenium
beautifulsoup4
curl_cffi
browserforge
easyocr
pillow
pytesseract
xlsxwriter
fastexcel
nest_asyncio
requests
msgspec
chromedriver-autoinstaller
webdriver-manager
deep-translator
